<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.PersonMapper">
    <select id="getAllPerson" resultType="Person">
        select *
        from person
    </select>

    <insert id="addPerson" parameterType="Person">
        insert into person(p_name, p_phone, p_address, p_sex, p_g_id)
        values (#{p_name}, #{p_phone}, #{p_address}, #{p_sex}, #{p_g_id});
    </insert>
    <delete id="delPersonByName" parameterType="java.lang.String">
        delete
        from person
        where p_name = #{p_name}
    </delete>
    <update id="updatePersonByName" parameterType="Person">
        update person
        set p_name    = #{p_name},
            p_phone   = #{p_phone},
            p_address = #{p_address},
            p_sex     = #{p_sex},
            p_g_id    = #{p_g_id}
        where p_name = #{p_name}
    </update>
    <select id="getPersonByName" parameterType="java.lang.String" resultType="Person">
        select *
        from person
        where p_name = #{p_name}
    </select>
    <delete id="delPersonByGroupID" parameterType="int">
        delete
        from person
        where p_g_id = #{p_g_id}
    </delete>
</mapper>